<meta charset="utf-8">
<h1 id="innovation">Innovation</h1>
<h2 id="innovation-comme-outil-rhétorique-innovation-comme-acceptation-sociale-emile">Innovation comme outil rhétorique, innovation comme acceptation sociale (emile)</h2>
<ul>
<li>Appel à projets IDEX Rayonnement Social et Culturel 2018</li>
<li>IDEX (Initiative d’Excellence),</li>
</ul>
<blockquote>
<p>Dans le cadre de la labellisation IDEX la Communauté d’Universités et d’Etablissements Université Grenoble Alpes (ComUE) lance son appel à projets Rayonnement Social et Culturel 2018 pour soutenir des initiatives en culture et culture scientifique en lien avec l’université.</p>
</blockquote>
<blockquote>
<p>L’appel à projet s’inscrit dans les objectifs transversaux de l’Idex : excellence, innovation, attractivité, rayonnement et développement de partenariats.</p>
</blockquote>
<ul>
<li>à la lecture des documents, appels, sites, etc</li>
<li><p>se dégage un aspect à première vue banal qui reste à questionner : la notion d’innovation</p></li>
<li>mot très actuel, dont en entend beaucoup parler (Macron)</li>
<li>qualifié de buzzword, de mot à la mode</li>
<li>finalement on ne sait pas trop ce que ça veut dire</li>
<li>on se doute de sa proximité avec les concepts d’« invention » et de « nouveauté »</li>
<li><p>il y a différents mots = il existe probablement des divergences, des subtilités</p></li>
<li>innovation a plusieurs sens</li>
<li>pas un seul sens défini</li>
<li><p>le sens de ce concept a évolué au fil du temps</p></li>
<li>l’etymologie d’« innovation » et d’ « innover »</li>
<li>du moyen français, latin, italien</li>
<li><p>rapelle la relation avec le « renouvellement » et l’« action d’introduire une chose nouvelle »</p></li>
</ul>
<blockquote>
<p>(XVIIe siècle) Du moyen français innovation (« action d’introduire une chose nouvelle »), lui-même de l’ancien français innovacion emprunté au latin innovatio (« <strong>renouvellement</strong> »)<a href="https://fr.wikipedia.org/wiki/Retrocomputing">1</a>. Il est apparu à côté de novation, qui est resté cantonné au domaine du droit. (1957) Emprunt à l’américain innovation, s’agissant du domaine économique et de la gestion d’entreprises<a href="https://fr.wikipedia.org/wiki/Low-tech">2</a>.</p>
</blockquote>
<p>Innovation, https://fr.wiktionary.org/wiki/innovation</p>
<blockquote>
<p>(1315)<a href="https://fr.wikipedia.org/wiki/Retrocomputing">1</a> Du latin innovare (« renouveler »)<a href="https://fr.wikipedia.org/wiki/Low-tech">2</a>, de novare (« renouveler » ; « inventer » ; « innover »)<a href="https://fr.wikipedia.org/wiki/Lo-fi#Articles_connexes">3</a>. (ca. 1960) Calque de l’anglais américain innovate et innovation (« changer une organisation en profondeur / changement la façon de fonctionner pour une organisation, une entreprise… »)<a href="https://en.wikipedia.org/wiki/Low_poly">4</a>.</p>
</blockquote>
<p>Innover, https://fr.wiktionary.org/wiki/innover</p>
<ul>
<li>l’article Wikipedia portant sur l’innovation propose une définition</li>
</ul>
<blockquote>
<p>Concrètement, une innovation est quelque chose qui, produit ou reproduit en grand nombre et commercialisé ou déployé pour la première fois avec succès, a amélioré, changé, modifié, transformé ou révolutionné un secteur d’activité, une pratique sociale ou la vie d’un grand nombre d’individus, ceci le plus souvent de façon inattendue et inconsciente.</p>
</blockquote>
<p>Innovation, https://fr.wikipedia.org/wiki/Innovation</p>
<ul>
<li>le site de la cité des sciences propose une définition</li>
</ul>
<blockquote>
<p>Innover, c’est réussir le pari de lancer de nouveaux produits […] intégrer le meilleur des connaissances dans un produit ou service créatif qui permet d’aller plus loin dans la satisfaction des individus.</p>
</blockquote>
<p>L’innovation qu’est ce que c’est ?, http://www.cite-sciences.fr/archives/francais/ala_cite/expositions/observatoire-innovations/definition-innovation/definition-innovation-1.html</p>
<ul>
<li>« produit ou reproduit en grand nombre » -&gt; renouvellement</li>
<li><p>« commercialisé ou déployé pour la première fois avec succès » -&gt; réussir à introduire</p></li>
<li>« réussir le pari de lancer de nouveaux produits » -&gt; réussir à introduire</li>
<li><p>« aller plus loin dans la satisfaction des individus » -&gt; réussir à introduire</p></li>
<li>au regard de ces définitions on peut se demander</li>
<li>l’innovation, innover ou un produit innovant</li>
<li>est en fait un produit qui marche, qui s’est bien vendu, qui est accepté</li>
<li>l’innovation consisterait-elle à « réussir à lancer » des produits</li>
<li>non pas à créer des choses qui n’existaient pas auparavant</li>
<li><p>un lien étroit avec le business, marketing, marché, réussite, vente, capital</p></li>
<li>Anthony Masure s’appuyant sur Walter Benjamin</li>
<li><p>propose un regard sur l’« invention » et l’« innovation »</p></li>
</ul>
<blockquote>
<p>L’invention désigne la création par un ou plusieurs individus d’une technique ou d’un procédé technique qui n’existait pas auparavant; ainsi de la photographie ou d’Internet. L’invention est rarement financée par du capital (de l’argent investi) car elle est le fait d’un petit nombre de personnes qui ne savent pas ce qu’il y a à faire avec. Son caractère inattendu s’oppose à l’investissement. L’invention, en tant qu’idée singulière, n’est pas pensée dans le cadre d’un marché économique ou d’un progrès.</p>
</blockquote>
<p>Anthony Masure, Le design des programmes, 2014, p. 124.</p>
<ul>
<li>« L’invention désigne la création par un ou plusieurs individus d’une technique ou d’un procédé technique qui n’existait pas auparavant; »</li>
<li>on ne sait pas « ce qu’il y a à faire avec » -&gt; difficile “d’investir”</li>
<li>« caractère inattendu » -&gt; difficile “d’investir”</li>
<li>« L’invention, en tant qu’idée singulière, n’est pas pensée dans le cadre d’un marché économique ou d’un progrès. »</li>
</ul>
<blockquote>
<p>Prise dans la double direction contradictoire du progrès benjaminien, la conception habituelle de l’innovation repose sur l’acceptation sociale de l’invention. L’économie peut ainsi inscrire l’invention dans des formes anachroniques, comme l’exemple des cartes de visite photographiques. Si l’on suit Walter Benjamin, l’innovation est donc tout à fait autre chose que la découverte d’une technique. Alors que l’innovation a pour but premier d’installer et de pérenniser une position sur un marché, la découverte se rattache à la compréhension en acte des spécificités d’une technique. L’innovateur (synonyme d’entrepreneur dans ce contexte) est celui qui parvient à trouver une application capitalisable à l’invention. C’est donc la conquête d’un marché précis qui va définir l’innovation. Cette capitalisation d’un secteur repéré a pour conséquence de retirer du domaine public ce qui était auparavant disponible gratuitement ou à moindre coût. Il en est ainsi, par exemple, des sociétés dites « de services », qui investissent progressivement toutesles bribes de l’espace social.</p>
</blockquote>
<p>Anthony Masure, Le design des programmes, 2015, p. 125.</p>
<ul>
<li>« innovation repose sur l’acceptation sociale de l’invention » -&gt; réussir à introduire</li>
<li>« l’innovation a pour but premier d’installer et de pérenniser une position sur un marché » -&gt; réussir à introduire</li>
<li>« L’innovateur (synonyme d’entrepreneur dans ce contexte) est celui qui parvient à trouver une application capitalisable à l’invention. C’est donc la conquête d’un marché précis qui va définir l’innovation. » -&gt; réussir à introduire</li>
<li><p>« Cette capitalisation d’un secteur repéré a pour conséquence de retirer du domaine public ce qui était auparavant disponible gratuitement ou à moindre coût. » -&gt; fermeture</p></li>
<li>retour sur le site de la cité des sciences</li>
<li><p>on percoit aussi une distinction entre invention et innovation</p></li>
</ul>
<blockquote>
<p>L’innovation se distingue de l’invention ou de la découverte en ce sens qu’elle suppose un processus de mise en pratique, aboutissant à une utilisation effective.</p>
</blockquote>
<p>L’innovation qu’est ce que c’est ?, http://www.cite-sciences.fr/archives/francais/ala_cite/expositions/observatoire-innovations/definition-innovation/definition-innovation-1.html</p>
<ul>
<li>processus de mise en pratique -&gt; réussir à introduire</li>
</ul>
<p>ce serpent se mord t-il la queue ? * se dit innovant ce qui a été accepter socialement (introduit) * ce qui a été accepter socialement (introduit) se dit innovant</p>
<ul>
<li>le terme innovation</li>
<li>qui n’est pas anodin, neutre</li>
<li>rassure, indique le “progrès”, le changement</li>
<li>permet d’asseoir un discours, de gagner une confiance, de passer pour un professionel</li>
<li><p>outil rhétorique</p></li>
<li><p>Machiavel dans Le prince</p></li>
</ul>
<blockquote>
<p>Une histoire de l’idée d’innovation montre comment le sens de ce concept a évolué depuis les Grecs, Xénophon et Aristote. Elle est ensuite réintégré, dans un sens politique par Machiavel dans Le prince en 1513, puis par F. Bacon en 1625. Pour Machiavel, il s’agit de donner une impression de renouvellement d’un système politique afin d’en garder le pouvoir en période de trouble.</p>
</blockquote>
<p>Innovation, https://fr.wikipedia.org/wiki/Innovation</p>
<ul>
<li>Benoit Godin dans son papier sur Machiavel (Le prince + The discourses)</li>
</ul>
<blockquote>
<p>This paper looks at what innovation is to Machiavelli. Using both The Prince and The Discourses, the paper documents the central role innovation occupies in politics. To Machiavelli, innovation is a means to stabilize a turbulent world rather than revolutionize it in contrast to what theorists of innovation say today.</p>
</blockquote>
<p>Benoit Godin, The Politics of Innovation : Machiavelli and Political Innovation, or, How to Stabilize a Changing World</p>
<p>(il faudrait peut-être acheter le bouquin de Godin sur l’histoire de l’innovation…)</p>
<ul>
<li>outil politique et rhétorique</li>
<li><p>opposer au sens actuel</p></li>
<li>Don Norman, <em>The Invisible Computer : Why Good Products Can Fail, The Personal Computer Is So Complex, and Information Appliances Are the Solution</em></li>
<li>pourquoi les bons produits peuvent échouer ? car mauvais business</li>
<li><p>dès la préface Norman évoque le cas d’Edison et de l’invention du phonographe</p></li>
</ul>
<blockquote>
<p>Thomas Edison was a great inventor but a poor businessman.</p>
</blockquote>
<p>Donald Norman, <em>The Invisible Computer</em>, 1999, p. ?</p>
<ul>
<li>Pour Norman le plus important est le marketting non pas les qualités d’un objet</li>
<li><p>un objet trop complexe est difficile à marketter, faire accepter, etc. (échec du phonographe car trop complexe)</p></li>
<li>innovation/innovant est aujourd’hui synonyme de “bon”</li>
<li>mais la mesure de la qualité se fait par sa réussite sur le marché et non sur les caractéristiques intrinsèques d’un objet</li>
<li><p>Est-ce qu’un objet fameux et très utilisé (bien introduit donc) implique de bonne caractéristiques ? …</p></li>
<li>autre aspect :</li>
<li>innovation pour résoudre tout les problèmes du monde (comme le design d’ailleurs)</li>
<li><p>innover pour éviter de se concentrer sur des changements de fond</p></li>
</ul>
<p>Nous arrivons ainsi à l’hypothèse d’une possible “propagande de l’innovation”, idéologie visant à résoudre tout besoin, problème ou désir par la production d’artefacts et de concepts en constante évolution, justifiant l’obsolescence technologique au nom de la vitalité économique à court terme.</p>
<blockquote>
<p>the consumption / innovation duality as the driving force behind our economy.</p>
</blockquote>
<p>Statement, disnovation.org</p>
<blockquote>
<p>The notion of innovation is the ultimate contemporary rhetorical tool</p>
</blockquote>
<p>Statement, disnovation.org</p>
<blockquote>
<p>La ruée continue vers la nouveauté et la négation des valeurs précédentes est-elle une nécessité humaine, une tendance intuitive, une fin en soi ? L’innovation est-elle l’expression d’un idéal particulier dont les finalités sont dictées par de simples choix économiques et industriels ? Comment les artistes deviennent-ils des agents tacites dans la diffusion et la vulgarisation des innovations ? Quelles pratiques critiques, subversives ou alternatives cette situation engendre-t-elle en retour ?</p>
</blockquote>
<p>Statement, disnovation.org</p>
<ul>
<li>innovation et obsolescence / innovation et fermeture</li>
</ul>
<ol type="1">
<li>proposer un objet innovant</li>
<li>celui ci s’essoufle car il n’est pas “ouvert” (Simondon / Huygues). dès sa sortie il se dégrade petit à petit car l’utilisateur ne peut pas l’entetenir / le réparer / le modifier / l’adapter / l’améliorer.</li>
<li>go to 1.</li>
</ol>
<h2 id="maxime">Maxime</h2>
<h2 id="innovation-entre-la-nouveauté-et-sa-négation.">innovation, entre la nouveauté et sa négation.</h2>
<ul>
<li><p>avant-garde principe de nouveauté, d’invention (par excellence ?)</p></li>
<li>tandis que l’avant-garde (dans une posture auto-référente) s’attache à détruire l’existant, à en faire table rase (dans un soucis de nouveauté ?)</li>
<li><p>détruire l’ordre pour en imposer un autre, un nouveau (création de la modernité)</p></li>
<li>le processus innovateur lui se réfère au pré-existant et s’attache à le réactualiser</li>
<li>reproduire l’ordre pour l’imposer à nouveau</li>
<li>système de mode</li>
<li><p>il se rapproche du kitsch (Moles?) dans la production d’inauthentique, dans cet attitude reproductrice et multiplicatrice, sa relation avec le domaine industriel et la consommation de masse (reproduction de la modernité)</p></li>
</ul>
<p>L’innovation à mi-chemin entre kitsch et avant-garde ?</p>
<blockquote>
<p>La catégorie introduit tout d’abord une comparaison entre deux formes de vie : une forme fermée qui produit le sens par répétition des formes ; une forme ouverte qui proscrit au contraire la répétition et revendique la nouveauté. Elle met ainsi en évidence deux modes de fonctionnement des stratégies culturelles, où l’un permet de prévoir les formes qui se stabilisent en système, tandis que l’autre rejetant tout système, n’autorise aucune prévision. – <cite>Anne Beyaert-Geslin « Kitsch et avant-garde », Actes Sémiotiques. 2007.</cite><a href="http://epublications.unilim.fr/revues/as/3292"><sup>9</sup></a></p>
</blockquote>
<h3 id="innovation-et-obsolescence">innovation et obsolescence</h3>
<p>l’innovation affirme et nie simultanément l’existant, il s’agit de progresser à sens contraire, (chercher à, ) être en tête le regard tourné vers le passé, l’établi.</p>
<blockquote>
<p>Ils ne veulent pas le progrès, Ils veulent être les premiers</p>
<p>– <cite>Six fois deux - 3a (Jean-Luc Godard, 1976)</cite><a href="https://www.youtube.com/watch?v=AghSqlf9pyY"><sup>7</sup></a></p>
</blockquote>
<p>Il n’est pas rare que l’innovant s’inspire du « retro », qu’il tende vers le recyclage en remettant au goût du jour des pratiques artisanales, locales.</p>
<p>ex:</p>
<p>(Paradoxalement) il pourrait s’agir de re-questionner nos acquis, de faire le procès de nos déterminations. (pas seulement en apparence)</p>
<blockquote>
<p>Introduction : exploration pavillonaire¹ Fausse cheminée d’angle, en bois mouluré et façonné comme du marbre. Elle dissimule en fait un petit placard, nous sommes dans un pavillon fort modeste des années cinquante et la cheminée véritablement fonctionnelle n’est plus à l’ordre du jour. Elle réapparaîtra un peu plus tard associant fonctionnalité et valeurs de tradition, d’authenticité dans nécessairement être qualifiée de « kitsch ». […] « ¹. Se dit d’un style ou d’une attitude esthétique caractérisés par l’usage dévié d’éléments démodés ou populaires produits par l’économie industrielle, considérés comme de mauvais goût par la culture établie et valorisés dans leur utilisation seconde. […] » – <cite>Odile le Guern « Kitsch, ça le fait ! », Actes Sémiotiques [En ligne]. 2007.</cite><a href="http://epublications.unilim.fr/revues/as/3292"><sup>8</sup></a></p>
</blockquote>
<p>Le paradoxe de l’innovation est celui de reproduire « l’ordre du jour » au travers d’objets en contradictions avec celui-ci</p>
<p>Pour nous, son intérêt réside dans la production ou la mise en avant d’objets en</p>
<p>machines matériel techniques logiciels obsolètes désuet bas sale simple rapide bon marché pratique populaire recyclage réparable local artisanal prosommation (production par l’utilisateur)</p>
<p>Le retrocomputing, ou rétro-informatique, est une activité consistant à utiliser du matériel et des logiciels informatiques obsolètes<a href="https://fr.wikipedia.org/wiki/Retrocomputing"><sup>1</sup></a></p>
<p>Le low-tech ou basse technologie, par opposition à high-tech, est un ensemble de techniques apparemment simples, pratique, économiques et populaires. Elles peuvent faire appel au recyclage de machines récemment tombées en désuétude. Ce sont des solutions techniques qui cherchent à être simples, bien pensées, bien dimensionnées et réparables et une fabrication plus locale, plus proche de l’artisanat que de la production industrielle. Il peut aussi s’agir de prosommation, c’est à dire production par l’utilisateur. Il n’existe toutefois pas de réelle définition du Low-tech.<a href="https://fr.wikipedia.org/wiki/Low-tech"><sup>2</sup></a></p>
<p>Lo-fi (abr. de low-fidelity, « de basse fidélité ») est une expression apparue à la fin des années 19801 aux États-Unis pour désigner certains groupes ou musiciens underground adoptant des méthodes d’enregistrement primitives pour produire un son « sale », volontairement opposé aux sonorités jugées aseptisées de certaines musiques populaires2. L’expression est l’antonyme de hi-fi (abr. de high-fidelity, « de haute fidélité »3).<a href="https://fr.wikipedia.org/wiki/Lo-fi#Articles_connexes"><sup>3</sup></a></p>
<p>Dans un contexte informatique où le calcul de très nombreux polygones est chose banal, où l’imagerie numérique commune tend vers l’hyperréalisme – est appelé “low-poly” une représentation informatique géométrique simplifié d’un objet en trois dimensions. Une technique donc esthétique plutôt qu’une technique d’optimisation. Ils sont souvent utilisés par les développeurs indépendants, plus rapides et moins chers à créer. Les graphismes “low-poly” peuvent être utilisés pour obtenir un certain style rétro similaire au pixel art des jeux vidéo ‘classiques’.<a href="https://en.wikipedia.org/wiki/Low_poly"><sup>4</sup></a></p>
<p>Ex : Indie Game: The Movie réalisé par James Swirsky et Lisanne Pajot (2012) film documentaire qui suit Edmund McMillen et Tommy Refenes pendant le développement et la sortie de Super Meat Boy, Phil Fish travaillant sur Fez, ainsi que Jonathan Blow à propos de Braid<a href="https://fr.wikipedia.org/wiki/Indie_Game:_The_Movie"><sup>5</sup></a></p>
<p>L’expression jeu vidéo indépendant, comme dans le secteur de la musique ou du cinéma, désigne des jeux vidéo créés sans l’aide financière d’un éditeur de jeux vidéo. Le jeu vidéo indépendant connait une montée en puissance depuis le début des années 2000, notamment grâce à la distribution dématérialisée des jeux vidéo. Deux exemples notables sont World of Goo1, sorti en octobre 2008, ainsi que Minecraft en mai 2009.<a href="https://fr.wikipedia.org/wiki/Jeu_vid%C3%A9o_ind%C3%A9pendant"><sup>6</sup></a></p>
<h3 id="nous-proposons-un-projet-dinnovation-low-tech">Nous proposons un projet d’innovation low-tech</h3>
<p>Le but n’étant pas de rendre innovant la low-tech mais de s’en servir pour détourner/approfondir cette notion d’innovation</p>
<h2 id="notes-de-maxime">Notes de Maxime</h2>
<p>innovation nouveauté avant-garde (kitsch?) grenoble et innovation</p>
<p>byte beat &amp; innovation ?</p>
<p>Art numérique et innovation ?</p>
<p>Art et science = innovation ? Pourquoi ?</p>
<p>réalisation de démonstration &amp; démonstrateurs (d’un prototype)</p>
<p>projet et innovation</p>
<p>rapport au temps économique</p>
<p>culture et culture scientifique</p>
<hr />
<p>innovation = faire plus vite, plus fort, meilleur, plus excellent</p>
<hr />
<h1 id="présentation">Présentation</h1>
<p>nous :</p>
<h2 id="définir-un-axe-de-recherche-collectif">Définir un axe de recherche collectif</h2>
<p>Un projet de recherche collectif comme une expo un coté curatorial cohérent Encourage le croisement des ressources / sources entre les groupes.</p>
<p>Un axe, une idée qui met en relief le projet idex.</p>
<p>Quels en sont les limites, les objectifs, le discours.</p>
<p>Comment profiter de ce contexte pour réfléchir au rôle de l’art numérique. À la relation entre l’idée d’innovation et d’art numérique, l’art numérique à t’il du sens hors de l’innovation.</p>
<hr />
<p>transmedial ars eletronica</p>
<hr />
<p>la rétro-informatique (Retrocomputing) comme projet d’innovation</p>
<p>Inauthenticités de l’innovation (Anthony Masure)</p>
<p>innovation</p>
<p>(XVIIe siècle) Du moyen français innovation (« action d’introduire une chose nouvelle »), lui-même de l’ancien français innovacion emprunté au latin innovatio (« renouvellement »)<a href="https://fr.wikipedia.org/wiki/Retrocomputing">1</a>. Il est apparu à côté de novation, qui est resté cantonné au domaine du droit. (1957) Emprunt à l’américain innovation, s’agissant du domaine économique et de la gestion d’entreprises<a href="https://fr.wikipedia.org/wiki/Low-tech">2</a>.</p>
<p>innovo</p>
<p>De novō avec le préfixe in-. Renouveler</p>
<p>novo</p>
<p>De novus (« neuf »). Renouveler, rafraichir, changer.</p>
<p>retro (Anglais)</p>
<p>Adjectif</p>
<p>Du français rétro. Rétro, démodé. Retro style is the style of the 50s, 60s or 70s. It is currently undergoing a revival with many new products coming out with a retro look.</p>
<p>français</p>
<p>(Adjectif 1) (1974) Apocope de rétrospectif. (Adjectif 2) (1889) Apocope de rétrograde. (Nom) (1935) Apocope de rétroviseur.</p>
<p>Latin</p>
<p>De re-, → voir citro, ultro et intro.</p>
<p>Adverbe</p>
<p>Derrière, par derrière, en arrière. Vade retro Satanas. À reculons, en remontant dans le passé. En sens contraire, à rebours.</p>
<p>http://innovation.cma-languedocroussillon.fr/innovation-et-artisanat</p>
